.listWrapper {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bikeList div {
    width: 370px;
    margin-right: 30px;
}

.bikeList {
    display: flex;
    flex-grow: 1;
}

.bikeImg {
    height: 250px;
    margin-bottom: 20px;
}

.bikeImg div {
    width: 252px;
    height: 252px;
    border: 1px solid #CECECE;
    box-sizing: border-box;
}

.bikeImg div img {
    margin-top: 52px;
    margin-bottom: 52px;
}

.addressList {
    width: 250px;
    margin-left: 30px;
    display: flex;
    align-self: flex-start;
    flex-grow: 1;
}

.catalogTitle {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 1.63913e-08px;
    
}

.captionBike {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.63913e-08px;
    margin-bottom: 10px;
}

.priceBike {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.63913e-08px;
    margin-bottom: 20px;
}

.buttonRent {
    margin-bottom: 30px;
}

.addressList ul {
    margin: 0;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1.63913e-08px;
    list-style-type: disc;
}

.addressList ul li {
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.63913e-08px;
}

#loadMore button {
    margin: 30px auto 50px 250px;
}

.adressListTittle {
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.63913e-08px;
    color: #333333;
    margin: 10px 20px 20 0;
}

.addressList a {
    text-decoration: none;
}
.addressList a:visited {
    color: #333333;;
}

.addressList a:hover {
    color:rgb(160, 160, 160);
}
@media (max-width: 1400px) {
    .addressList{
        margin-left: auto;
    }
    .content.container{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1150px) {
    .content.container{
        margin-left: auto;
        margin-right: auto;
    }
    .bikeList {
        display: flex;
        flex-direction: column;
    }
    html body {
        min-width: 860px;
    }
}