body{
    background: no-repeat center, url(/images/img/active-architecture-asphalt.jpg) no-repeat center, url(/images/img/active-architecture-asphalt_blur.jpg) no-repeat center;
}
.layout{  
    background: rgba(22, 0, 69, 0.42);
}
.content{
    font-family: Roboto;
    font-style: normal;
    color: white;
}
h1{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1.63913e-08px;
    font-weight: normal;
}
.text{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.63913e-08px;
}
.description{
    width: 765px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.63913e-08px;
    color: #FFFFFF;
}
button a{
    color: #FFFFFF;
    text-decoration: none;
}
button a:hover{
    color: rgb(160, 160, 160);
}
button[type="button"]{
    margin-top: 12px;
    margin-right: 26px;
    width: 240px;
}
@media (max-width: 1440px) {
    .content.container{
        margin-left: 10%;
    }
  }
@media (max-width: 900px) {
    .description{
        width: 500px;
    }
    button[type="button"]{
        margin-top: 12px;
        margin-right: 26px;
        width: 200px;
    }
}