html, body {
  min-width: 590px;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
  
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.content {
  flex-grow: 2;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.header__link:hover{
  color: rgb(160, 160, 160);
}

.footer {
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

button {
  height: 38px;
  width: 170px;
  background: #3C1491;
  border: 1px solid #3C1491;
  border-radius: 1px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.63913e-08px;
  color: #FFFFFF;
}

button:hover {
  cursor: pointer;
  color: rgb(160, 160, 160);
}
@media (max-width: 1440px) {
  .header__content {
    margin-left: 0;
  }
  .container{
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    max-width: 1170px;
  }
}