.form_container {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1.63913e-08px;

color: #333333;
}

.input_title {
    margin: 20px auto 5px 0;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.63913e-08px;
    color: #333333;
}

input[type="text"],input[type="password"] {
    border: 1px solid #CECECE;
    border-radius: 0;
    outline: none;
    height: 42px;
    width: 370px;
    color: #cccccc;
    font-size: 24px;
 }

 input[type="text"]:focus {
    color: #000000;
    border: 1px solid #000000
  }

input[type="button"] {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.63913e-08px;
    color: #FFFFFF;
    display: block;
    margin-top: 50px;
    width: 130px;
    height: 38px;
    border-radius: 0;
    background-color: rgba(60, 20, 145, 1);
}
button{
    margin-top: 20px;
}

a{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.63913e-08px;
    color: #0000FF;
    margin-left: 10px;
    text-decoration: none;
}
p{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.63913e-08px;
    color: #E30000;
}