#map{
    margin-top: 80px;
    width: 1150px;
    height: 600px;
}
button a{
    color: #FFFFFF;
    text-decoration: none;
}
button a:hover{
    color: rgb(160, 160, 160);
}
button[type="button"]{
    margin-top: 12px;
    margin-right: 26px;
    width: 240px;
}
.pointer{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.63913e-08px;
    color: #333333;
}
@media (max-width: 1440px) {
    .content.container{
        margin-left: auto;
        margin-right: auto;
    }
}