<link rel="stylesheet" href="/styles/card-requisites.css">
{{> header}}
	<div class="form_container">
        <div class="form_title">Реквизиты карты</div>
        <form action="">
            <div class="input_title">Номер карты</div>
            <div class="cardNumber_wrapper"><input type="text" id="cardNumber"></div>
            <div class="input_title">Срок действия</div>
            <div class="term_wrapper"><input type="text" id="term"></div>
            <div class="input_title">CVV</div>
            <div class="cvv_wrapper"><input type="text" id="cvv"></div>
            <input type="button" value="Сохранить" id="save">
        </form>
    </div>
{{> footer}}
<script src="../js/card-requisites.js"></script>