<link rel="stylesheet" href="/styles/catalog.css">

{{> header}}

  {{#pointInfo}}<h1 class="catalogTitle">Каталог велосипедов по адресу {{pointInfo.address}} </h3>{{/pointInfo}}
  
  {{^pointInfo}}<h3 class="catalogTitle">Каталог велосипедов</h3>{{/pointInfo}}

  <div class="listWrapper">
    <div class="bikeList">
      <div class="left-bikeList"></div>
      <div class="right-bikeList"></div>
    </div>
    <div class="addressList">
      <ul><div class="adressListTittle">Пункты выдачи</div> 
        {{#pointersList}}
        {{#isActive}}  <li id="{{_id}}"><a href="/catalog/{{_id}}">{{address}}</a></li>  {{/isActive}}
        {{^isActive}}  <li id="{{_id}}"><a href="/catalog/{{_id}}">{{address}}</a></li>  {{/isActive}}
        {{/pointersList}}
        <li id="allBikes"><a href="/catalog">Все пункты</a></li>
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden">
    <button type="button">Загрузить ещё</button>
  </div>

<script src="../js/api.js"></script>
<script src="../js/catalog.js"></script>
{{> footer}}