<link rel="stylesheet" href="/styles/index.css">

{{> header}}
  <h1>Сервис аренды<br>велосипедов</h1>
  <div class="description">Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Esse blanditiis illo aperiam voluptatibus at nobis impedit
      illum deserunt vero commodi voluptate optio excepturi quidem nostrum laboriosam 
      hic quas voluptas, ut!</div>
      <button type="button"><a href="/catalog">Арендовать велосипед</a></button>
      <button type="button"><a href="/map">Найти пункт выдачи</a></button>
{{> footer}}