<link rel="stylesheet" href="/styles/login.css">
{{> header}}
<div class="form_container">
	<div class="form_title">Вход</div>
	<form method="post">
		<div class="input_title"><label for="login">Логин</label></div>
		<div class="login_wrapper"><input type="text" class="" id="login" name="login" value="{{ login }}"></div>

		<div class="input_title"><label for="password">Пароль</label></div>
		<div class="password_wrapper"><input type="password" class="" id="password" name="password"></div>

		{{#isLoginError}}
			<p>
				Неверные логин или пароль
			</p>
		{{/isLoginError}}
		<button type="submit">Войти</button>
		<a href="/registration">или зарегистрироваться</a>
	</form>
</div>
{{> footer}}