<link rel="stylesheet" href="/styles/map.css">
<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
</head>

{{> header}}
    <div id="map"></div>
{{> footer}}
<script src="../js/api.js"></script>
<script src="../js/map.js"></script>