<link rel="stylesheet" href="/styles/registration.css">
{{> header}}
<div class="form_container">
	<div class="form_title">Регистрация</div>
	<form method="post">
		<div class="input_title"><label for="login">Логин</label></div>
		<div class="login_wrapper"><input type="text" class="" id="login" name="login" value="{{ login }}"></div>

		<div class="input_title"><label for="password1">Пароль</label></div>
		<div class="password_wrapper"><input type="password" class="" id="password1" name="password1"></div>

		<div class="input_title"><label for="password2">Повторите пароль</label></div>
		<div class="password_wrapper"><input type="password" class="" id="password2" name="password2"></div>
		{{#notEqualPasswordsError}}
			<p>
				Пароли не совпадают
			</p>
		{{/notEqualPasswordsError}}
		{{#isEmptyValuesError}}
			<p>
				Заполните все поля
			</p>
		{{/isEmptyValuesError}}
		<button type="submit">Зарегистрироваться</button>
	  <a href="/login">или войти</a>
	</form>
</div>
{{> footer}}